:root {
    --theme-dracula-background              : #141d28;
    --theme-dracula-background-secondary-alt: #44475a;
    --theme-dracula-background-secondary    : #1e1f29;
    --theme-dracula-foreground              : #f8f8f2;
    --theme-dracula-sidebar-background      : #233346;
    /*COLOURS */
    --theme-dracula-green                   : #50fa7b;
    --theme-dracula-violet                  : #bd93f9;
    --theme-dracula-magenta                 : #ff79c6;
    --theme-dracula-orange                  : #ffb86c;
    --theme-dracula-cyan:                     #8be9fd;
    --theme-dracula-red:                      #ff5555;
    --theme-dracula-yellow:                   #f1fa8c;
    --theme-dracula-body-text:               : #C3C3C3;
    --theme-dracula-comment:                 : #6272a4;
    --theme-dracula-doc:                    var(--theme-dracula-cyan);
    --theme-dracula-function-name:          var(--theme-dracula-green);
    --theme-dracula-keyword:                var(--theme-dracula-magenta);
    --theme-dracula-string:                 var(--theme-dracula-yellow);
    --theme-dracula-type:                   var(--theme-dracula-violet);
    --theme-dracula-rainbow1:               var(--theme-dracula-magenta);
    --theme-dracula-rainbow2:               var(--theme-dracula-violet);
    --theme-dracula-rainbow3:               var(--theme-dracula-green);
    --theme-dracula-rainbow4:               var(--theme-dracula-yellow);
    --theme-dracula-variable-name:          var(--theme-dracula-magenta);
    --theme-dracula-page-links              : #C26EFF;
    --theme-dracula-attributes-color        : #FFFF80;
    --theme-dracula-external-links          : #7CE973;
    --theme-dracula-links-hover             : #92FFFF;
    --theme-dracula-hashtags                : #FFD17E;
    --theme-dracula-italics-color           : #FF7EA2;
    --theme-dracula-bold-color              : #FF4E4E;
    --theme-dracula-highlight-text-color    : #47405E;
    --theme-dracula-highlighter             : #FFFF80;
    --theme-dracula-sidebar-text            : #F2F2F2;
    --theme-dracula-page-heading            : #FFBE49;
    --theme-dracula-daily-heading           : #FFCA6A;
    --theme-dracula-headings                : #F2F2F2;
    --theme-dracula-bullets                 : #7A6DAA;
    --theme-dracula-closed-bullets          : #3E445D;
    --theme-dracula-references              : #9E8DDB;
    --theme-dracula-block-reference-text    : #FF9580;
    --theme-dracula-namespaces              : #5EB9FF;
    --theme-dracula-all-pages-mentions      : #FF9580;
    --theme-dracula-cursor                  : #F2F2F2;
    --theme-dracula-icons                   : #FBCC77;
    --theme-dracula-icons-hover             : #81FFEA;
    --theme-dracula-filter-icon             : #C26EFF;
    /* DROPDOWN MENU */
    --theme-dracula-dropdown-menu-background: #1E2B3B;
    --theme-dracula-dropdown-menu-highlight : #454259;
    --theme-dracula-dropdown-menu-text      : #F2F2F2;
    --theme-dracula-dropdown-newpage        : #9580FF;
    /* SEARCH BAR */
    --theme-dracula-search-bar-background   : #19191E;
    --theme-dracula-search-bar-text         : #F2F2F2;
    /* KANBAN CARD COLORS */
    --theme-dracula-kanban-main-background  : #1B1A23;
    --theme-dracula-kanban-column-background: #2A2C37;
    --theme-dracula-kanban-card-background  : #1B1A23;
    --theme-dracula-kanban-text-hover       : #81FFEA;
}
